<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

        body {
            font-family: 'Dongle', sans-serif;

        }
    </style>


</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" class="header-always-fixed">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/html/pprj/Template/00_main%20copy.html">
                            <span class="logo-default">로고</span>
                            <span class="logo-dark">로고</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!-- Search -->
                   <!-- end: search -->
                    <!--Header Extras-->
                   <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                       <!--Navigation-->
                       <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/00_main%20copy.html">
                                            <p class="pw">Home</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/html/pprj/Template/11_shop-single-product%20copy.html">
                                            <p class="pw">오늘의 경매</p>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">트레이딩카드</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">드래곤볼 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">원피스 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타 카드</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                            <p class="pw">리멘트</p>
                                        </a>
                                        <ul>
                                            <h5>

                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">피규어</p>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">커뮤니티</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕</a>
                                                </li>
                                                <li><a href="#">드래곤볼</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타</a>
                                                </li>
                                                <li>
                                                    <a href="#">자유게시판</a>
                                                </li>
                                                <li>
                                                    <a href="#">질문게시판</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">&nbsp;</p>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/05_page-user-login-classic%20copy.html">
                                            <p class="pw">로그인</p>
                                        </a>
                                    </li>
                        </div>
                        <!--end: Navigation-->
                    </div>
                </div>
        </header>
        <!-- end: Header -->
        <!-- Shop products -->
        <section id="page-content" class="sidebar-left">
            <div class="container">
                <div class="row">
                    <!-- Content-->
                    <div class="content col-lg-10">
                        <div class="product">
                            <div class="row m-b-40">
                                <div class="col-lg-5">
                                    <div class="product-image">
                                        <!-- Carousel slider -->
                                        <div class="carousel dots-inside dots-dark arrows-visible" data-items="1"
                                            data-loop="true" data-autoplay="true" data-animate-in="fadeIn"
                                            data-animate-out="fadeOut" data-autoplay="2500" data-lightbox="gallery">
                                            <a href="images/misa/shop/380/shop1.jpg" data-lightbox="image"
                                                title="Shop product image!"><img alt="Shop product image!"
                                                    src="images/misa/shop/380/shop1.jpg">
                                            </a>
                                            <a href="images/misa/shop/380/shop1.jpg"data-lightbox="image"
                                                title="Shop product image!"><img alt="Shop product image!"
                                                    src="images/misa/shop/380/shop1.jpg">
                                            </a>
                                        </div>
                                        <!-- Carousel slider -->
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-description">
                                        <div class="breadcrumb ps11">
                                            <ul>
                                                <li><a href="#">Home</a> </li>
                                                <li><a href="#">트레이딩카드</a> </li>
                                                <li class="active"><a href="#">포켓몬카드</a> </li>
                                            </ul>
                                        </div>
                                       
                                            <p class="ps12"><a href="#">꼬부기 U언커먼</a></p>
                                        
                                        <div class="product-price">
                                            <ins class="ps13">&#8361;39,000</ins></p>
                                        </div>
                                        <div class="seperator"></div>
                                        <div class="product-reviews"><a href="#"></a>
                                        </div>
                                        <p class="ps14"><img src="./images/misa/icon/icon_water.png" width="20px"
                                            height="20px"> 껍질에 숨기</p>
                                    </h4>
                                    <p class="ps15">동전을 1번 던져서 앞면이 나오면 상대의 다음 차례에 이 포켓몬은 기술의 데미지를 받지 않는다.</p>
                                    <p class="ps14">
                                        <img src="./images/misa/icon/icon_water.png" width="20px" height="20px">
                                        <img src="./images/misa/icon/icon_water.png" width="20px" height="20px"> 로켓박치기 20</p>
                                    <div class="seperator"></div>
                                    
						<div class="product-meta">
							<div class="row">
								<div class="col-lg-4">
									<p class="ps16">
									<img src="./images/misa/icon/icon_g.png" width="22px" height="22px" style="position: relative; top: -2px;" >
									014/049</p>
								</div>
								<div class="col-lg-4">
									<p class="ps16">HP 60</p>
								</div>
								<div class="col-lg-4">
									<p class="ps17"><span style="font-weight: 200;">희귀도 </span>
										U언커먼</p>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 ">
									<p class="ps16"><span style="font-weight: 200;">약점
									<img src="./images/misa/icon/icon_thunder.png" width="22px" height="22px" style="position: relative; top: -2px;" >
									X 2</span>
                                    </p>
								</div>
								<div class="col-lg-4">
									<p class="ps16"><span style="font-weight: 200;">저항력</span> </p>
								</div>
								<div class="col-lg-4">
									<p class="ps16"><span style="font-weight: 200;">후퇴비용
									<img src="./images/misa/icon/icon_silver.png" width="22px" height="22px" style="position: relative; top: -2px;" >	
									</span></p>
								</div>
							</div>
							<p class="ps18">태그: <a rel="tag" href="#">포켓몬카드</a>, <a href="#" rel="tag">꼬부기</a>
							</p>
						</div>
                        <div class="seperator"></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                        <div class="col d-flex justify-content-end align-items-center" style="gap: 1px;">
                                            <a class="btn btn-primary" href="#"><i class="icon-shopping-cart"></i> 장바구니</a>
                                            <a class="btn btn-primary" href="#"><i class="icon-shopping-cart"></i> 구매하기</a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- Product additional tabs -->
                    <div class="tabs tabs-folder">
                        <ul class="nav nav-tabs" id="myTab3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="home-tab" data-bs-toggle="tab" href="#home3"
                                    role="tab" aria-controls="home" aria-selected="false"><i
                                        class="fa fa-align-justify"></i>카드 정보</a></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile3" role="tab"
                                    aria-controls="profile" aria-selected="true"><i class="fa fa-info"></i>카드 스펙</a></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact3" role="tab"
                                    aria-controls="contact" aria-selected="false"><i
                                        class="fa fa-star"></i>코멘트</a></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent3">
                            <div class="tab-pane fade active show" id="home3" role="tabpanel"
                                aria-labelledby="home-tab">
                                <h6>꼬부기는 포켓몬 시리즈에서 가장 유명한 물 타입 포켓몬 중 하나로, 주로 스타팅 포켓몬으로 등장하는 특징을 가짐.<br><br>

                                    주요 특징:<br><br>
                                    1.물 타입 포켓몬:<br>
                                    꼬부기는 물 타입 포켓몬으로, 물 에너지를 사용하는 기술을 주로 가짐.<br><br>
                                    
                                    2.진화 단계:<br>
                                    꼬부기는 기본 포켓몬으로, 어니부기로 진화한 후 거북왕으로 진화함.<br><br>
                                    
                                    3.기술:<br>
                                    꼬부기는 주로 물속성 기술을 사용하며, 대표적으로 "물대포"와 같은 기술을 가짐.<br><br>
                                    
                                    4.카드 디자인:<br>
                                    꼬부기 카드에는 꼬부기의 귀여운 모습과 물과 관련된 배경이 자주 등장함. 종종 바다나 연못 같은 배경이 그려지며, 꼬부기가 물을 쏘는 모습이 포함되기도 함.<br><br>
                                    
                                    5.전략적 가치:<br>
                                    꼬부기는 초반 게임에서 에너지를 적게 소모하는 기술로 상대에게 꾸준히 데미지를 주는 역할을 할 수 있으며, 진화 후 더 강력한 공격을 기대할 수 있음.<br><br>
                                    
                                    이런 요소들 때문에 꼬부기는 포켓몬 카드 게임에서 초보자와 팬들 모두에게 인기 있는 카드 중 하나로 손꼽힘.</h6>
                                
                            </div>
                            <div class="tab-pane fade " id="profile3" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>도감번호/이름</td>
                                            <td>No.007 &amp; 꼬부기 &amp; ゼニガメ(제니가메) &amp; Squirtle </td>
                                        </tr>
                                        <tr>
                                            <td>속성1</td>
                                            <td>Pink &amp; White</td>
                                        </tr>
                                        <tr>
                                            <td>속성2</td>
                                            <td>26 cm</td>
                                        </tr>
                                        <tr>
                                            <td>속성3</td>
                                            <td>40 cm</td>
                                        </tr>
                                        <tr>
                                            <td>속성4</td>
                                            <td>33 inches</td>
                                        </tr>
                                        <tr>
                                            <td>속성5</td>
                                            <td>Cotton, Silk &amp; Synthetic</td>
                                        </tr>
                                        <tr>
                                            <td>속성6</td>
                                            <td>3 Months</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="comments" id="comments">
                                    <div class="comment_number">
                                        사용자 코멘트 <span>(3)</span>
                                    </div>
                                    <div class="comment-list">
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1">
                                            <div class="image"><img alt="" src="images/blog/author.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                             <h6>포켓몬조앙
                                                <span class="comment_date">작성일 15:32, 12/06</span>
                                                <a class="comment-reply-link" href="#">답글</a></h6>
                                                <div class="text_holder">
                                                    <h6>꼬부기 넘나 귀여워잉</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1-1">
                                            <div class="image"><img alt="" src="images/blog/author2.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                              <h5 class="name">피카츄카츄
                                                <span class="comment_date">작성일 15:32, 12/03</span>
                                                <a class="comment-reply-link" href="#">답글</a></h5>
                                                <div class="text_holder">
                                                    <h6>빨리 진화해라 꼬부기!!</h6>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1-2">
                                            <div class="image"><img alt="" src="images/blog/author3.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                              <h5 class="name">포켓몬마스터</h5>
                                                <span class="comment_date">작성일 11:32, 12/03</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <h6>귀염둥이 꼬부기~!</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <br>
                                       <div id="commentForm" class="hidden-form">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="comment1" class="sr-only">댓글쓰기</label>
                                                    <input class="form-control" id="comment" placeholder="댓글쓰기" type="text">
                                                </div>
                                                <div class="col-lg-12 d-flex justify-content-end">
                                                    <button class="btn btn-primary wd-write-btn">댓글쓰기</button>
                                               
                                            </form>
                                        </div>
                                    </div>
                                        
                                        <!-- end: Comment -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Product additional tabs -->
                        </div>
                        <div class="heading-text heading-line text-center">
                            <h4></h4>
                        </div>
                        <section class="p-t-0">
                            <div class="container">
                                <div class="heading-text heading-line text-center">
                                    <h4>관련 제품</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="product">
                                            <div class="product-image">
                                                <a href="#"><img src="images/misa/shop/380/shop2.jpg" alt="Shop product image!" class="img-60"></a>
                                            </div>
                                            <div class="product-description">
                                                <div class="product-category">포켓몬카드</div>
                                                <div class="product-title">
                                                    <h3><a href="#">이상해씨</a></h3>
                                                </div>
                                                <div class="product-price">
                                                    <ins>$15.00</ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="product">
                                            <div class="product-image">
                                                <a href="#"><img src="images/misa/shop/380/shop2.jpg" alt="Shop product image!" class="img-60"></a>
                                            </div>
                                            <div class="product-description">
                                                <div class="product-category">포켓몬카드</div>
                                                <div class="product-title">
                                                    <h3><a href="#">이상해씨</a></h3>
                                                </div>
                                                <div class="product-price">
                                                    <ins>$15.00</ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="product">
                                            <div class="product-image">
                                                <a href="#"><img src="images/misa/shop/380/shop2.jpg" alt="Shop product image!" class="img-60"></a>
                                            </div>
                                            <div class="product-description">
                                                <div class="product-category">포켓몬카드</div>
                                                <div class="product-title">
                                                    <h3><a href="#">이상해씨</a></h3>
                                                </div>
                                                <div class="product-price">
                                                    <ins>$15.00</ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- end: Content-->
                    <!-- Sidebar-->
                    <div class="sidebar col-lg-2">
                        <!--widget newsletter-->
                        <div class="widget clearfix widget-archive">
                            <h4 class="widget-title">Product categories</h4>
                            <ul class="lp-list ps19">
                                <li>
                                    <a href="#">트레이딩카드</a> <span class="count">(8)</span>
                                    <!-- 하위 메뉴 시작 -->
                                    <ul class="lp-sub-list">
                                        <li><a href="#">포켓몬 카드</a></li>
                                        <li><a href="#">유희왕 카드</a></li>
                                        <li><a href="#">드래곤볼 카드</a></li>
                                        <li><a href="#">원피스 카드</a></li>
                                        <li><a href="#">기타 카드</a></li>
                                    </ul>
                                    <!-- 하위 메뉴 끝 -->
                                </li>
                                <li>
                                    <a href="#">리멘트</a> <span class="count">(7)</span>
                                </li>
                                <li>
                                    <a href="#">피규어</a> <span class="count">(7)</span>
                                </li>
                                <li>
                                    <a href="#">커뮤니티</a> <span class="count">(9)</span>
                                    <ul class="lp-sub-list">
                                        <li><a href="#">포켓몬 카드</a></li>
                                        <li><a href="#">유희왕 카드</a></li>
                                        <li><a href="#">드래곤볼 카드</a></li>
                                        <li><a href="#">원피스 카드</a></li>
                                        <li><a href="#">기타 카드</a></li>
                                    </ul>
                                </li>
                               
                            </ul>
                            
                        </div>
                    <div class="widget clearfix widget-shop">
                            <h4 class="widget-title">Latest Products</h4>
                            <div class="product">
                                <div class="product-image">
                                    <a href="#"><img src="images/shop/products/10.jpg" alt="Shop product image!">
                                    </a>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Women</div>
                                    <div class="product-title">
                                        <h3><a href="#">Bolt Sweatshirt</a></h3>
                                    </div>
                                    <div class="product-price"><del>$30.00</del><ins>$15.00</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="product-image">
                                    <a href="#"><img src="images/shop/products/6.jpg" alt="Shop product image!">
                                    </a>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Women</div>
                                    <div class="product-title">
                                        <h3><a href="#">Consume Tshirt</a></h3>
                                    </div>
                                    <div class="product-price"><ins>$39.00</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="product-image">
                                    <a href="#"><img src="images/shop/products/7.jpg" alt="Shop product image!">
                                    </a>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Man</div>
                                    <div class="product-title">
                                        <h3><a href="#">Logo Tshirt</a></h3>
                                    </div>
                                    <div class="product-price"><ins>$39.00</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget clearfix widget-tags">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tags">
                                <a href="#">포켓몬카드</a>
                                <a href="#">드래곤볼카드</a>
                                <a href="#">유희왕카드</a>
                                <a href="#">원피스카드</a>
                                <a href="#">리멘트</a>
                                <a href="#">피규어</a>
                                <!-- <a href="#">Peace</a>
                                <a href="#">Love</a>
                                <a href="#">CSS3</a>
                                <a href="#">jQuery</a> -->
                            </div>
                        </div>
                        <!-- <div class="widget clearfix widget-newsletter">
                            <form class="form-inline" method="get" action="#">
                                <h4 class="widget-title">Subscribe for Latest Offers</h4>
                                <small>Subscribe to our Newsletter to get Sales Offers &amp; Coupon Codes etc.</small>
                                <div class="input-group">
                                    <input type="email" placeholder="Enter your Email"
                                        class="form-control required email" name="widget-subscribe-form-email"
                                        aria-required="true">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i
                                                class="fa fa-paper-plane"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div> -->
                    </div>
                    <!-- end: Sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Shop products -->
        <!-- DELIVERY INFO -->
        <!-- <section class="background-grey p-t-40 p-b-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-gift"></i></a>
                            </div>
                            <h3>Free shipping on orders $60+</h3>
                            <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-plane"></i></a>
                            </div>
                            <h3>Worldwide delivery</h3>
                            <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-history"></i></a>
                            </div>
                            <h3>60 days money back guranty!</h3>
                            <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- end: DELIVERY INFO -->
        <!-- Footer -->
        <footer id="footer">
            <!-- <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">Polo HTML5 Template</div>
                                <p class="mb-5">Built with love in Fort Worth, Texas, USA<br> All rights reserved.
                                    Copyright © 2021. INSPIRO.</p>
                                <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923"
                                    class="btn btn-inverted" target="_blank">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Discover</div>
                                        <ul class="list">
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Updates</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Customers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Features</div>
                                        <ul class="list">
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Headers</a></li>
                                            <li><a href="#">Widgets</a></li>
                                            <li><a href="#">Footers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pages</div>
                                        <ul class="list">
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Shop</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Support</div>
                                        <ul class="list">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template.
                        All Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener">
                            INSPIRO</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>