<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Topbar -->
        <div id="topbar" class="topbar-fullwidth d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 d-none d-sm-block">
                        <div class="social-icons social-icons-colored-hover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: Topbar -->
        <!-- Header -->
        <header id="header" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="index.html">
                            <span class="logo-default">POLO</span>
                            <span class="logo-dark">POLO</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i
                                class="icon-x"></i></a>
                        <form class="search-form" action="search-results-page.html" method="get">
                            <input class="form-control" name="q" type="text" placeholder="Type & Search..." />
                            <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                        </form>
                    </div>
                    <!-- end: search -->
                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                            <li>
                                <div class="p-dropdown">
                                    <a href="#"><i class="icon-globe"></i><span>EN</span></a>
                                    <ul class="p-dropdown-content">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                            <p class="pb">Home</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                            <p class="pb">오늘의 경매</p>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pb">트레이딩카드</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">드래곤볼
                                                        카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">원피스 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">기타 카드</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pb">리멘트</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">리멘트1</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">리멘트2</a>
                                                </li>
                                                <li><a href="#">리멘트3</a>
                                                </li>
                                                <li>
                                                    <a href="#">리멘트4</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pb">피규어</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">건담</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">기타</a>
                                                </li>
                                                <li><a href="#">기타1</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타2 </a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pb">커뮤니티</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕</a>
                                                </li>
                                                <li><a href="#">드래곤볼</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타</a>
                                                </li>
                                                <li>
                                                    <a href="#">자유게시판</a>
                                                </li>
                                                <li>
                                                    <a href="#">질문게시판</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                        </div>
                        <!--END: NAVIGATION-->
                    </div>
                </div>
        </header>
        <!-- end: Header -->
        <!-- Shop products -->
        <section id="page-content" class="sidebar-left">
            <div class="container">
                <div class="row">
                    <!-- Content-->
                    <div class="content col-lg-9">
                        <div class="product">
                            <div class="row m-b-40">
                                <div class="col-lg-5">
                                    <div class="product-image">
                                        <!-- Carousel slider -->
                                        <div class="carousel dots-inside dots-dark arrows-visible" data-items="1"
                                            data-loop="true" data-autoplay="true" data-animate-in="fadeIn"
                                            data-animate-out="fadeOut" data-autoplay="2500" data-lightbox="gallery">
                                            <a href="images/shop/products/product-large.jpg" data-lightbox="image"
                                                title="Shop product image!"><img alt="Shop product image!"
                                                    src="images/shop/products/1.jpg">
                                            </a>
                                            <a href="images/shop/products/product-large.jpg" data-lightbox="image"
                                                title="Shop product image!"><img alt="Shop product image!"
                                                    src="images/shop/products/2.jpg">
                                            </a>
                                        </div>
                                        <!-- Carousel slider -->
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-description">
                                        <div class="product-category">Women</div>
                                        <div class="product-title">
                                            <h3><a href="#">Consume Tshirt</a></h3>
                                        </div>
                                        <div class="product-price"><ins>$39.00</ins>
                                        </div>
                                        <div class="product-rate">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <div class="product-reviews"><a href="#">3 customer reviews</a>
                                        </div>
                                        <div class="seperator m-b-10"></div>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                            roots in a piece of classical Latin literature from 45 BC, making it over
                                            2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia, looked up one of the more obscure Latin words,
                                            consectetur, from a Lorem Ipsum passage, and going through the cites of the
                                            word in</p>
                                        <div class="product-meta">
                                            <p>Tags: <a href="#" rel="tag">Clothing</a>, <a rel="tag"
                                                    href="#">T-shirts</a>
                                            </p>
                                        </div>
                                        <div class="seperator m-t-20 m-b-10"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h6>Select the size</h6>
                                            <ul class="product-size">
                                                <li>
                                                    <label>
                                                        <input type="radio" checked="checked" value="option1"
                                                            name="product-size"><span>xs</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" checked="checked" value="option1"
                                                            name="product-size"><span>s</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" checked="checked" value="option1"
                                                            name="product-size"><span>m</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" checked="checked" value="option1"
                                                            name="product-size"><span>l</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" checked="checked" value="option1"
                                                            name="product-size"><span>xl</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <h6>Select the color</h6>
                                            <label class="sr-only">Color</label>
                                            <select class="form-select">
                                                <option value="">Select color…</option>
                                                <option value="">White</option>
                                                <option value="" selected="selected">Green</option>
                                                <option value="">Brown</option>
                                                <option value="">Yellow</option>
                                                <option value="">Pink</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <h6>Select quantity</h6>
                                            <div class="cart-product-quantity">
                                                <div class="quantity m-l-5">
                                                    <input type="button" class="minus" value="-">
                                                    <input type="text" class="qty" value="1">
                                                    <input type="button" class="plus" value="+">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <h6>Add to Cart</h6>
                                            <a class="btn btn-primary" href="#"><i class="icon-shopping-cart"></i> Add
                                                to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product additional tabs -->
                            <div class="tabs tabs-folder">
                                <ul class="nav nav-tabs" id="myTab3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active show" id="home-tab" data-bs-toggle="tab" href="#home3"
                                            role="tab" aria-controls="home" aria-selected="false"><i
                                                class="fa fa-align-justify"></i>Description</a></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile3"
                                            role="tab" aria-controls="profile" aria-selected="true"><i
                                                class="fa fa-info"></i>Additional Info</a></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact3"
                                            role="tab" aria-controls="contact" aria-selected="false"><i
                                                class="fa fa-star"></i>Reviews</a></a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent3">
                                    <div class="tab-pane fade" id="home3" role="tabpanel" aria-labelledby="home-tab">
                                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                            quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda
                                            est, omnis dolor repellendus. Temporibus autem quibusdam et
                                            aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                                            repudiandae sint et molestiae non recusandae. </p>
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium voluptatum deleniti atque corrupti quos dolores et quas
                                            molestias excepturi sint occaecati cupiditate non provident, similique
                                            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                                            fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    </div>
                                    <div class="tab-pane fade active show" id="profile3" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Size</td>
                                                    <td>Small, Medium &amp; Large</td>
                                                </tr>
                                                <tr>
                                                    <td>Color</td>
                                                    <td>Pink &amp; White</td>
                                                </tr>
                                                <tr>
                                                    <td>Waist</td>
                                                    <td>26 cm</td>
                                                </tr>
                                                <tr>
                                                    <td>Length</td>
                                                    <td>40 cm</td>
                                                </tr>
                                                <tr>
                                                    <td>Chest</td>
                                                    <td>33 inches</td>
                                                </tr>
                                                <tr>
                                                    <td>Fabric</td>
                                                    <td>Cotton, Silk &amp; Synthetic</td>
                                                </tr>
                                                <tr>
                                                    <td>Warranty</td>
                                                    <td>3 Months</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="contact3" role="tabpanel"
                                        aria-labelledby="contact-tab">
                                        <div class="comments" id="comments">
                                            <div class="comment_number">
                                                Reviews <span>(3)</span>
                                            </div>
                                            <div class="comment-list">
                                                <!-- Comment -->
                                                <div class="comment" id="comment-1">
                                                    <div class="image"><img alt="" src="images/blog/author.jpg"
                                                            class="avatar"></div>
                                                    <div class="text">
                                                        <div class="product-rate">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                        <h5 class="name">John Doe</h5>
                                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                        <a class="comment-reply-link" href="#">Reply</a>
                                                        <div class="text_holder">
                                                            <p>Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting industry. Lorem Ipsum has been the
                                                                industry's standard dummy text ever since the 1500s.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end: Comment -->
                                                <!-- Comment -->
                                                <div class="comment" id="comment-1-1">
                                                    <div class="image"><img alt="" src="images/blog/author2.jpg"
                                                            class="avatar"></div>
                                                    <div class="text">
                                                        <div class="product-rate">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                        <h5 class="name">John Doe</h5>
                                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                        <a class="comment-reply-link" href="#">Reply</a>
                                                        <div class="text_holder">
                                                            <p>It is a long established fact that a reader will be
                                                                distracted by the readable content.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end: Comment -->
                                                <!-- Comment -->
                                                <div class="comment" id="comment-1-2">
                                                    <div class="image"><img alt="" src="images/blog/author3.jpg"
                                                            class="avatar"></div>
                                                    <div class="text">
                                                        <div class="product-rate">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-half-o"></i>
                                                        </div>
                                                        <h5 class="name">John Doe</h5>
                                                        <span class="comment_date">Posted at 15:32h, 06 December</span>
                                                        <a class="comment-reply-link" href="#">Reply</a>
                                                        <div class="text_holder">
                                                            <p>There are many variations of passages of Lorem Ipsum
                                                                available, but the majority have suffered alteration in
                                                                some form, by injected humour.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end: Comment -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end: Product additional tabs -->
                        </div>
                        <div class="heading-text heading-line text-center">
                            <h4>Related Products you may be interested!</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="widget-shop">
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/10.jpg"
                                                    alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Women</div>
                                            <div class="product-title">
                                                <h3><a href="#">Bolt Sweatshirt</a></h3>
                                            </div>
                                            <div class="product-price"><del>$30.00</del><ins>$15.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/6.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Women</div>
                                            <div class="product-title">
                                                <h3><a href="#">Consume Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/7.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Man</div>
                                            <div class="product-title">
                                                <h3><a href="#">Logo Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget-shop">
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/11.jpg"
                                                    alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Man</div>
                                            <div class="product-title">
                                                <h3><a href="#">Logo Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/9.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Women</div>
                                            <div class="product-title">
                                                <h3><a href="#">Consume Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/3.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Man</div>
                                            <div class="product-title">
                                                <h3><a href="#">Logo Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="widget-shop">
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/1.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Women</div>
                                            <div class="product-title">
                                                <h3><a href="#">Bolt Sweatshirt</a></h3>
                                            </div>
                                            <div class="product-price"><del>$30.00</del><ins>$15.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/2.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Women</div>
                                            <div class="product-title">
                                                <h3><a href="#">Consume Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-image">
                                            <a href="#"><img src="images/shop/products/5.jpg" alt="Shop product image!">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-category">Man</div>
                                            <div class="product-title">
                                                <h3><a href="#">Logo Tshirt</a></h3>
                                            </div>
                                            <div class="product-price"><ins>$39.00</ins>
                                            </div>
                                            <div class="product-rate">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Content-->
                    <!-- Sidebar-->
                    <div class="sidebar col-lg-3">
                        <!--widget newsletter-->
                        <div class="widget clearfix widget-archive">
                            <h4 class="widget-title">Product categories</h4>
                            <ul class="list list-lines">
                                <li><a href="#">Bags</a> <span class="count">(6)</span>
                                </li>
                                <li><a href="#">Jeans</a> <span class="count">(8)</span>
                                </li>
                                <li><a href="#">Shoes</a> <span class="count">(7)</span>
                                </li>
                                <li><a href="#">Sweaters</a> <span class="count">(7)</span>
                                </li>
                                <li><a href="#">T-Shirts</a> <span class="count">(9)</span>
                                </li>
                                <li><a href="#">Tops</a> <span class="count">(10)</span>
                                </li>
                                <li><a href="#">Women</a> <span class="count">(25)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="widget clearfix widget-shop">
                            <h4 class="widget-title">Latest Products</h4>
                            <div class="product">
                                <div class="product-image">
                                    <a href="#"><img src="images/shop/products/10.jpg" alt="Shop product image!">
                                    </a>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Women</div>
                                    <div class="product-title">
                                        <h3><a href="#">Bolt Sweatshirt</a></h3>
                                    </div>
                                    <div class="product-price"><del>$30.00</del><ins>$15.00</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="product-image">
                                    <a href="#"><img src="images/shop/products/6.jpg" alt="Shop product image!">
                                    </a>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Women</div>
                                    <div class="product-title">
                                        <h3><a href="#">Consume Tshirt</a></h3>
                                    </div>
                                    <div class="product-price"><ins>$39.00</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="product-image">
                                    <a href="#"><img src="images/shop/products/7.jpg" alt="Shop product image!">
                                    </a>
                                </div>
                                <div class="product-description">
                                    <div class="product-category">Man</div>
                                    <div class="product-title">
                                        <h3><a href="#">Logo Tshirt</a></h3>
                                    </div>
                                    <div class="product-price"><ins>$39.00</ins>
                                    </div>
                                    <div class="product-rate">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget clearfix widget-tags">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tags">
                                <a href="#">Design</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Digital</a>
                                <a href="#">Branding</a>
                                <a href="#">HTML</a>
                                <a href="#">Clean</a>
                                <a href="#">Peace</a>
                                <a href="#">Love</a>
                                <a href="#">CSS3</a>
                                <a href="#">jQuery</a>
                            </div>
                        </div>
                        <div class="widget clearfix widget-newsletter">
                            <form class="form-inline" method="get" action="#">
                                <h4 class="widget-title">Subscribe for Latest Offers</h4>
                                <small>Subscribe to our Newsletter to get Sales Offers &amp; Coupon Codes etc.</small>
                                <div class="input-group">
                                    <input type="email" placeholder="Enter your Email"
                                        class="form-control required email" name="widget-subscribe-form-email"
                                        aria-required="true">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i
                                                class="fa fa-paper-plane"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end: Sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Shop products -->
        <!-- DELIVERY INFO -->
        <section class="background-grey p-t-40 p-b-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-gift"></i></a>
                            </div>
                            <h3>Free shipping on orders $60+</h3>
                            <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-plane"></i></a>
                            </div>
                            <h3>Worldwide delivery</h3>
                            <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fa fa-history"></i></a>
                            </div>
                            <h3>60 days money back guranty!</h3>
                            <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: DELIVERY INFO -->
        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">Polo HTML5 Template</div>
                                <p class="mb-5">Built with love in Fort Worth, Texas, USA<br> All rights reserved.
                                    Copyright © 2021. INSPIRO.</p>
                                <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923"
                                    class="btn btn-inverted" target="_blank">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Discover</div>
                                        <ul class="list">
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Updates</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Customers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Features</div>
                                        <ul class="list">
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Headers</a></li>
                                            <li><a href="#">Widgets</a></li>
                                            <li><a href="#">Footers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pages</div>
                                        <ul class="list">
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Shop</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Support</div>
                                        <ul class="list">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template.
                        All Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener">
                            INSPIRO</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>