<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" class="header-always-fixed">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/html/pprj/Template/00_main%20copy.html">
                            <span class="logo-default">로고</span>
                            <span class="logo-dark">로고</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <!-- <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i
                                class="icon-x"></i></a>
                        <form class="search-form" action="search-results-page.html" method="get">
                            <input class="form-control" name="q" type="text" placeholder="Type & Search..." />
                            <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                        </form>
                    </div> -->
                    <!-- end: search -->
                    <!--Header Extras-->
                    <!-- <div class="header-extras">
                        <ul>
                            <li>
                                <a id="btn-search" href="#"> <i class="icon-search"></i></a>
                            </li>
                            <li>
                                <div class="p-dropdown">
                                    <a href="#"><i class="icon-globe"></i><span>EN</span></a>
                                    <ul class="p-dropdown-content">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> -->
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/00_main%20copy.html">
                                            <p class="pw">Home</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/html/pprj/Template/11_shop-single-product%20copy.html">
                                            <p class="pw">오늘의 경매</p>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">트레이딩카드</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">드래곤볼 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">원피스 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타 카드</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                            <p class="pw">리멘트</p>
                                        </a>
                                        <ul>
                                            <h5>

                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">피규어</p>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">커뮤니티</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕</a>
                                                </li>
                                                <li><a href="#">드래곤볼</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타</a>
                                                </li>
                                                <li>
                                                    <a href="#">자유게시판</a>
                                                </li>
                                                <li>
                                                    <a href="#">질문게시판</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">&nbsp;</p>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/05_page-user-login-classic%20copy.html">
                                            <p class="pw">로그인</p>
                                        </a>
                                    </li>
                        </div>
                        <!--end: Navigation-->
                    </div>
                </div>
        </header>
        <!-- end: Header -->
        <!-- Page title -->
        <section id="page-title">
            <div class="container">
                <div class="page-title">
                    <!-- <h1>User login</h1>
                    <span>User login page</span> -->
                </div>
                <!-- <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Home</a>
                        </li>
                        <li><a href="#">Pages</a>
                        </li>
                        <li class="active"><a href="#">User login</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Section -->
        <section>
            <div class="container-fluid d-flex flex-column">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">
                        <div class="mb-5 text-center">
                            <h6 class="h3 mb-1">포켓몰 로그인</h6>
                           
                        </div>
                        <span class="clearfix"></span>
                        <form class="form-validate">
                            <div class="form-group">
                                <div class="form-group-inner">
                                    <label for="email"></label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" placeholder="이메일을 입력하세요" required="">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="form-group-inner">
                                    <label for="password"></label>
                                    <div class="input-group show-hide-password">
                                        <input class="form-control" name="password" placeholder="비밀번호를 입력하세요" type="password" required="">
                                        <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true" style="cursor: pointer;"></i></span>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="form-group">
                                    <div class="checkbox-group">
                                        <div class="form-check checkbox-custom">
                                            <input class="form-check-input" type="checkbox" id="auto-login">
                                            <label class="form-check-label label-custom" for="auto-login">자동로그인</label>
                                        </div>
                                        <div class="form-check checkbox-custom">
                                            <input class="form-check-input" type="checkbox" id="save-id">
                                            <label class="form-check-label label-custom" for="save-id">아이디저장</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4"><button type="submit" class="btn btn-primary btn-block btn-primary">
                                    로그인</button>
                                </div>
                                <div class="row">
                                    <div class="link-group">
                                        <p class="ps4"><a href="page-user-register.html">아이디찾기</a> |</p>
                                        <p class="ps4"><a href="page-user-register.html">비밀번호찾기</a> |</p>
                                        <p class="ps4"><a href="/html/pprj/Template/06_page-user-register-classic%20copy.html">회원가입</a></p>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-auto">
                                        <div class="separator-line"></div>
                                    </div>
                                    <div class="col-auto">
                                        <p class="ps5">SNS 간편로그인</p>
                                    </div>
                                    <div class="col-auto">
                                        <div class="separator-line"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="link-group">
                                        <p class="ps4">
                                            <a href="page-user-register.html">
                                                <img src="/html/pprj/Template/images/misa/icon/kakao.svg"
                                                style="width: 50px; height: auto; vertical-align: middle; margin-right: 5px;" >
                                            </a> 
                                        </p>
                                        <p class="ps4">
                                            <a href="page-user-register.html">
                                                <img src="/html/pprj/Template/images/misa/icon/naver.svg"
                                                style="width: 50px; height: auto; vertical-align: middle; margin-right: 5px;">
                                            </a> 
                                        </p>
                                        <p class="ps4">
                                            <a href="page-user-register.html">
                                                <img src="/html/pprj/Template/images/misa/icon/apple.svg"
                                                style="width: 50px; height: auto; vertical-align: middle; margin-right: 5px;" >
                                            </a>
                                        </p>
                                    </div>
                                </div>
                          <br> <p class="ps3">계정이 없으신가요? <a href="/html/pprj/Template/06_page-user-register-classic%20copy.html#">
                            계정만들기</a></p>
                        </div>
                    </div>
                </form>
            </div>
         </section>
<!-- end: Section -->
        <!-- Footer -->
        <footer id="footer">
           
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template.
                        All Rights Reserved
                        <!-- <a href="https://www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a>  -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>