<div class="ajax-quick-view">
	<div class="quick-view-content">
		<div class="product">
			<div class="row">
				<div class="col-lg-5">
					<div class="carousel" data-items="1">
						<img src="./images/misa/shop/shop1.jpg" alt="Shop product image!">
						<img src="./images/misa/shop/cardBack.png" alt="Shop product image!">
					</div>
				</div>

				<div class="col-lg-7">
					<div class="product-description">
						<div class="product-category"><h4 style="position: relative; left: -235px;">포켓몬카드</h4>
						</div>
						<div class="product-title-ajax">
							<h1 class="mb-0"><img src="./images/misa/icon/icon_water.png" width="50px" height="50px"
									style="position: relative; top: -5px;"><a href="#"> 꼬부기</a></h1>

							<div class="product-price">
								<ins class="price-adjust">&#8361;100,000</ins>
							</div>
						</div>
						<div class="seperator m-b-0"></div>
						<h4 style="font-weight: bold;"><img src="./images/misa/icon/icon_water.png" width="20px"
								height="20px"> 껍질에 숨기</style>
						</h4>
						<h5>동전을 1번 던져서 앞면이 나오면 상대의 다음 차례에 이 포켓몬은 기술의 데미지를 받지 않는다.</h5>
						<h4>
							<img src="./images/misa/icon/icon_water.png" width="20px" height="20px">
							<img src="./images/misa/icon/icon_water.png" width="20px" height="20px"> 로켓박치기 20
						</h4>
						<div class="seperator"></div>

						<div class="product-meta">
							<div class="row">
								<div class="col-lg-4 mb-3">
									<h4>
									<img src="./images/misa/icon/icon_g.png" width="22px" height="22px" style="position: relative; top: -2px;" >
									014/049
								</h4>
								</div>
								<div class="col-lg-4">
									<h4>HP 60</h4>
								</div>
								<div class="col-lg-4">
									<h4><span style="font-weight: 200;">희귀도 </span>
										U언커먼</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4 mb-5">
									<h4><span style="font-weight: 200;">약점
									<img src="./images/misa/icon/icon_thunder.png" width="22px" height="22px" style="position: relative; top: -2px;" >
									X 2</span>
									</h4>
								</div>
								<div class="col-lg-4">
									<h4><span style="font-weight: 200;">저항력</span> </h4>
								</div>
								<div class="col-lg-4">
									<h4><span style="font-weight: 200;">후퇴비용
									<img src="./images/misa/icon/icon_silver.png" width="22px" height="22px" style="position: relative; top: -2px;" >	
									</span></h4>
								</div>
							</div>
							<p>태그: <a rel="tag" href="#">포켓몬카드</a>, <a href="#" rel="tag">꼬부기</a>
							</p>
						</div>
						<div class="seperator m-t-20 m-b-10"></div>
					</div>
			<div class="m-t-20" style="text-align: center;">
						<button class="btn btn-lg" type="button">제품 상세보기</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>