<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

        body {
            font-family: 'Dongle', sans-serif;

        }
    </style>


</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" class="header-always-fixed">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/html/pprj/Template/00_main%20copy.html">
                            <span class="logo-default">로고</span>
                            <span class="logo-dark">로고</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                   <!--Header Extras-->
                  <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/00_main%20copy.html">
                                            <p class="pw">Home</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/html/pprj/Template/11_shop-single-product%20copy.html">
                                            <p class="pw">오늘의 경매</p>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">트레이딩카드</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">드래곤볼 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">원피스 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타 카드</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                            <p class="pw">리멘트</p>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">피규어</p>
                                     </li>
                                    <li class="dropdown">
                                        <p class="pw">커뮤니티</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕</a>
                                                </li>
                                                <li><a href="#">드래곤볼</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타</a>
                                                </li>
                                                <li>
                                                    <a href="#">자유게시판</a>
                                                </li>
                                                <li>
                                                    <a href="#">질문게시판</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                        </div>
                        <!--END: NAVIGATION-->
                    </div>
                </div>
        </header>
        <!-- end: Header -->
        <!-- SHOP PRODUCT PAGE -->
        <section id="product-page" class="product-page p-b-0">
            <div class="container">
                <div class="product">
                    <div class="row m-b-40">
                        <div class="col-lg-5">
                            <div class="product-image">
                                <!-- Carousel slider -->
                                <div class="carousel dots-inside dots-dark arrows-visible" data-items="1"
                                    data-loop="true" data-autoplay="true" data-animate-in="fadeIn"
                                    data-animate-out="fadeOut" data-autoplay="2500" data-lightbox="gallery">
                                    <a href="images/misa/shop/380/shop1.jpg" data-lightbox="image" title="Shop product image!">
                                        <img alt="Shop product image!" src="images/misa/shop/380/shop1.jpg" class="img-80">
                                    </a>
                                    <a href="images/shop/products/product-large.jpg" data-lightbox="image" title="Shop product image!">
                                        <img alt="Shop product image!" src="images/misa/shop/380/shop1.jpg" class="img-80">
                                    </a>
                                    
                                </div>
                                <!-- Carousel slider -->
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-description">

                                <div class="product-category"></div>
                                <div class="product-title">
                                    <p class="p5">꼬부기 U언커먼</p>
                                </div>

                                <!-- 기존 가격 -->
                                <div class="product-price">
                                    <ins class="ins-price">&#8361;<span id="base-price">100,000</span></ins>
                                </div>


                                <!-- 타이머와 아이콘 -->
                                <div id="auction-timer" class="timer">
                                    <!-- <i class="bi bi-clock" style="font-size: 1.5rem; margin-right: 8px;"></i>
                                        <span class="timer-text">00:00:00</span> -->
                                </div>


                            </div>
                            <h5>입찰 기록
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">ID</th>
                                            <th scope="col">금액</th>
                                            <th scope="col">시간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>포켓**아</td>
                                            <td>98,000</td>
                                            <td>08.17.13:40:05</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>연수**해</td>
                                            <td>97,000</td>
                                            <td>08.17.13:20:02</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>김준**빠</td>
                                            <td>96,000</td>
                                            <td>08.17.12:40:05</td>
                                        </tr>
                            </h5>
                            </tbody>
                            </table>


                            <!-- 실시간 가격 -->
                            <div class="product-price">
                                <ins class="ins-price2">&#8361;<span id="live-price">100,000</span></ins>
                            </div>


                            <!-- 가격 조절 버튼들 -->
                            <div class="row">
                                <div class="price-controls">
                                    <button id="increase-price" class="btn btn-success">+</button>
                                    <button id="decrease-price" class="btn btn-danger">-</button>
                                    <button id="confirm-price" class="btn btn-primary">입찰</button>
                                </div>
                            </div>
                            <div class="product-meta pd-top1">
                                <h4>Tags: <a href="#" rel="tag">포켓몬</a>, <a rel="tag" href="#">꼬부기</a>, <a rel="tag"
                                        href="#">경매</a>
                                </h4>
                            </div>
                         
                        <div class="row">

                        </div>
                    </div>
                    <!-- Product additional tabs -->
                    <div class="tabs tabs-folder">
                        <ul class="nav nav-tabs" id="myTab3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="home-tab" data-bs-toggle="tab" href="#home3"
                                    role="tab" aria-controls="home" aria-selected="false"><i
                                        class="fa fa-align-justify"></i>카드 정보</a></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile3" role="tab"
                                    aria-controls="profile" aria-selected="true"><i class="fa fa-info"></i>카드 스펙</a></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact3" role="tab"
                                    aria-controls="contact" aria-selected="false"><i
                                        class="fa fa-star"></i>코멘트</a></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent3">
                            <div class="tab-pane fade active show" id="home3" role="tabpanel"
                                aria-labelledby="home-tab">
                                <h4>꼬부기는 포켓몬 시리즈에서 가장 유명한 물 타입 포켓몬 중 하나로, 주로 스타팅 포켓몬으로 등장하는 특징을 가짐.<br><br>

                                    주요 특징:<br><br>
                                    1.물 타입 포켓몬:<br>
                                    꼬부기는 물 타입 포켓몬으로, 물 에너지를 사용하는 기술을 주로 가짐.<br><br>
                                    
                                    2.진화 단계:<br>
                                    꼬부기는 기본 포켓몬으로, 어니부기로 진화한 후 거북왕으로 진화함.<br><br>
                                    
                                    3.기술:<br>
                                    꼬부기는 주로 물속성 기술을 사용하며, 대표적으로 "물대포"와 같은 기술을 가짐.<br><br>
                                    
                                    4.카드 디자인:<br>
                                    꼬부기 카드에는 꼬부기의 귀여운 모습과 물과 관련된 배경이 자주 등장함. 종종 바다나 연못 같은 배경이 그려지며, 꼬부기가 물을 쏘는 모습이 포함되기도 함.<br><br>
                                    
                                    5.전략적 가치:<br>
                                    꼬부기는 초반 게임에서 에너지를 적게 소모하는 기술로 상대에게 꾸준히 데미지를 주는 역할을 할 수 있으며, 진화 후 더 강력한 공격을 기대할 수 있음.<br><br>
                                    
                                    이런 요소들 때문에 꼬부기는 포켓몬 카드 게임에서 초보자와 팬들 모두에게 인기 있는 카드 중 하나로 손꼽힘.</h4>
                                
                            </div>
                            <div class="tab-pane fade " id="profile3" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>도감번호/이름</td>
                                            <td>No.007 &amp; 꼬부기 &amp; ゼニガメ(제니가메) &amp; Squirtle </td>
                                        </tr>
                                        <tr>
                                            <td>속성1</td>
                                            <td>Pink &amp; White</td>
                                        </tr>
                                        <tr>
                                            <td>속성2</td>
                                            <td>26 cm</td>
                                        </tr>
                                        <tr>
                                            <td>속성3</td>
                                            <td>40 cm</td>
                                        </tr>
                                        <tr>
                                            <td>속성4</td>
                                            <td>33 inches</td>
                                        </tr>
                                        <tr>
                                            <td>속성5</td>
                                            <td>Cotton, Silk &amp; Synthetic</td>
                                        </tr>
                                        <tr>
                                            <td>속성6</td>
                                            <td>3 Months</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="contact3" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="comments" id="comments">
                                    <div class="comment_number">
                                        사용자 코멘트 <span>(3)</span>
                                    </div>
                                    <div class="comment-list">
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1">
                                            <div class="image"><img alt="" src="images/blog/author.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                             <h5>포켓몬조앙
                                                <span class="comment_date">작성일 15:32, 12/06</span>
                                                <a class="comment-reply-link" href="#">답글</a></h5>
                                                <div class="text_holder">
                                                    <h3>꼬부기 넘나 귀여워잉</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1-1">
                                            <div class="image"><img alt="" src="images/blog/author2.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                              <h5 class="name">피카츄카츄
                                                <span class="comment_date">작성일 15:32, 12/03</span>
                                                <a class="comment-reply-link" href="#">답글</a></h5>
                                                <div class="text_holder">
                                                    <h3>빨리 진화해라 꼬부기!!</h3>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="seperator"></div>
                                        <!-- end: Comment -->
                                        <!-- Comment -->
                                        <div class="comment" id="comment-1-2">
                                            <div class="image"><img alt="" src="images/blog/author3.jpg" class="avatar">
                                            </div>
                                            <div class="text">
                                                <!-- <div class="product-rate">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-o"></i>
                                                </div> -->
                                                <h5 class="name">포켓몬마스터</h5>
                                                <span class="comment_date">작성일 11:32, 12/03</span>
                                                <a class="comment-reply-link" href="#">Reply</a>
                                                <div class="text_holder">
                                                    <h3>귀염둥이 꼬부기~!</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end: Comment -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Product additional tabs -->
                </div>
            </div>
        </section>
        <!-- end: SHOP PRODUCT PAGE -->
        <!-- SHOP WIDGET PRODUTCS -->
        <section class="p-t-0">
            <div class="container">
                <div class="heading-text heading-line text-center">
                    <h4>관련 제품</h4>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="images/misa/shop/380/shop2.jpg" alt="Shop product image!" class="img-60"></a>
                            </div>
                            <div class="product-description">
                                <div class="product-category">포켓몬카드</div>
                                <div class="product-title">
                                    <h3><a href="#">이상해씨</a></h3>
                                </div>
                                <div class="product-price">
                                    <ins>$15.00</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="images/misa/shop/380/shop2.jpg" alt="Shop product image!" class="img-60"></a>
                            </div>
                            <div class="product-description">
                                <div class="product-category">포켓몬카드</div>
                                <div class="product-title">
                                    <h3><a href="#">이상해씨</a></h3>
                                </div>
                                <div class="product-price">
                                    <ins>$15.00</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product">
                            <div class="product-image">
                                <a href="#"><img src="images/misa/shop/380/shop2.jpg" alt="Shop product image!" class="img-60"></a>
                            </div>
                            <div class="product-description">
                                <div class="product-category">포켓몬카드</div>
                                <div class="product-title">
                                    <h3><a href="#">이상해씨</a></h3>
                                </div>
                                <div class="product-price">
                                    <ins>$15.00</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <!-- end: DELIVERY INFO -->
        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">
                                <div class="widget-title">Polo HTML5 Template</div>
                                <p class="mb-5">Built with love in Fort Worth, Texas, USA<br> All rights reserved.
                                    Copyright
                                    © 2021. INSPIRO.</p>
                                <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923"
                                    class="btn btn-inverted" target="_blank">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Discover</div>
                                        <ul class="list">
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Updates</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Customers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Features</div>
                                        <ul class="list">
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Headers</a></li>
                                            <li><a href="#">Widgets</a></li>
                                            <li><a href="#">Footers</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pages</div>
                                        <ul class="list">
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Shop</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Support</div>
                                        <ul class="list">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template.
                        All
                        Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener">
                            INSPIRO</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
    <script>
        document.getElementById('increase-btn').addEventListener('click', function () {
            var priceElement = document.getElementById('price');
            var currentPrice = parseInt(priceElement.innerText.replace(/,/g, ''));
            var newPrice = currentPrice + 1000;
            priceElement.innerText = newPrice.toLocaleString();
        });
    </script>
    <script>

       // 경매 종료 시간을 설정합니다 (예: 2024년 8월 29일 18:00:00)
var countDownDate = new Date("Aug 29, 2024 18:00:00").getTime();

// 타이머를 업데이트하는 함수
function updateTimer() {
    // 현재 시간 가져오기
    var now = new Date().getTime();

    // 경매 종료까지 남은 시간 계산
    var distance = countDownDate - now;

    // 계산된 시간을 일, 시, 분, 초 단위로 변환
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // 타이머를 HTML에 표시
    document.getElementById("auction-timer").innerHTML =
        days + "d " + "/" + hours + "h " + " /" + minutes + "m" + " /" + seconds + "s ";

    // 타이머가 0에 도달하면 종료 메시지 표시
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("auction-timer").innerHTML = "경매 종료";
    }
}

// 페이지 로드 시 타이머 업데이트를 바로 실행
updateTimer();

// 1초마다 타이머 업데이트
var x = setInterval(updateTimer, 1000);

    </script>
    <script>
        // 초기 가격 설정
        let basePrice = 100000;  // 승인 후에 업데이트되는 기본 가격
        let currentPrice = basePrice;  // 실시간으로 변경되는 가격

        // HTML 요소 가져오기
        const basePriceElement = document.getElementById('base-price');  // 기존 가격 요소
        const livePriceElement = document.getElementById('live-price');  // 실시간 가격 요소
        const increaseButton = document.getElementById('increase-price');
        const decreaseButton = document.getElementById('decrease-price');
        const confirmButton = document.getElementById('confirm-price');

        // 실시간 가격 업데이트 함수
        function updateLivePriceDisplay() {
            livePriceElement.textContent = currentPrice.toLocaleString();
        }

        // 승인 후 기본 가격 업데이트 함수
        function updateBasePriceDisplay() {
            basePriceElement.textContent = basePrice.toLocaleString();
        }

        // 가격 증가 버튼 클릭 이벤트
        increaseButton.addEventListener('click', function () {
            currentPrice += 1000;
            updateLivePriceDisplay();
        });

        // 가격 감소 버튼 클릭 이벤트
        decreaseButton.addEventListener('click', function () {
            if (currentPrice > 0) {
                currentPrice -= 1000;
                updateLivePriceDisplay();
            }
        });

        // 가격 승인 버튼 클릭 이벤트
        confirmButton.addEventListener('click', function () {
            basePrice = currentPrice;
            updateBasePriceDisplay();
            alert(`가격이 ${basePrice.toLocaleString()}원으로 설정되었습니다.`);
        });


    </script>
</body>

</html>