<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

        body {
            font-family: 'Dongle', sans-serif;

        }
    </style>


</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" class="header-always-fixed">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/html/pprj/Template/00_main%20copy.html">
                            <span class="logo-default">로고</span>
                            <span class="logo-dark">로고</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!-- Search -->
                    <!-- end: search -->
                    <!--Header Extras-->
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/00_main%20copy.html">
                                            <p class="pw">Home</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/html/pprj/Template/11_shop-single-product%20copy.html">
                                            <p class="pw">오늘의 경매</p>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">트레이딩카드</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬 카드</a>
                                                </li>
                                                <li>
                                                    <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">드래곤볼 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">원피스 카드</a>
                                                </li>
                                                <li>
                                                    <a href="#">기타 카드</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                            <p class="pw">리멘트</p>
                                        </a>
                                        <ul>
                                            <h5>

                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">피규어</p>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">커뮤니티</p>
                                        <ul class="dropdown-menu">
                                            <h5>
                                                <li>
                                                    <a
                                                        href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">카드정보</a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">자유게시판</a>
                                                </li>
                                                <li><a
                                                        href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">이벤트</a>
                                                </li>
                                                <li>
                                                    <a href="#">질문게시판</a>
                                                </li>
                                            </h5>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <p class="pw">&nbsp;&nbsp;&nbsp;</p>
                                    </li>
                                    <!-- <li class="dropdown"> -->
                                    <a href="/html/pprj/Template/05_page-user-login-classic%20copy.html">
                                        <p class="pw2">로그인</p>
                                    </a>
                                    <p class="pw">&nbsp;</p>
                                    <!-- </li> -->
                                    <!-- <li class="dropdown"> -->
                                    <a href="/html/pprj/Template/06_page-user-register-classic%20copy.html">
                                        <p class="pw2">회원가입</p>
                                    </a>
                                    <!-- </li> -->
                        </div>
                        <!--end: Navigation-->
                    </div>
                </div>
        </header>
        <!-- end: Header -->
        <!-- Page title -->
        <section id="page-title">
            <div class="container">
                <div class="page-title">
                    <h1 class=" pd-top2">장바구니</h1>

                </div>
                <div class="breadcrumb">
                    <ul>
                        <h5>
                            <li><a href="#">Home</a> </li>
                            <li><a href="#">마이페이지</a> </li>
                            <li class="active"><a href="#">장바구니
                        </h5></a> </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <!-- SHOP CART -->
        <section id="shop-cart">
            <div class="container">
                <div class="shop-cart">
                    <div class="table table-sm table-striped table-responsive">
                        <table class="table">
                            <colgroup>
                                <col style="width: 10%;"> <!-- 제품 삭제 열 -->
                                <col style="width: 10%;"> <!-- 제품 이미지 열 -->
                                <col style="width: 40%;"> <!-- 제품명 열 -->
                                <col style="width: 15%;"> <!-- 가격 열 -->
                                <col style="width: 12.5%;"> <!-- 장바구니 열 -->
                                <col style="width: 12.5%;"> <!-- 구매하기 열 -->
                            </colgroup>
                            <thead>
                                <tr class="ps10 text-center">
                                    <th class="cart-product-checkbox"><input type="checkbox"></th>
                                    <th class="cart-product-thumbnail">제품</th>
                                    <th class="cart-product-name">제품/옵션정보</th>
                                    <th class="cart-product-cart">수량</th>
                                    <th class="cart-product-price">가격</th>
                                    <th class="cart-product-buy">합계금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ps10 text-center">
                                    <th class="cart-product-checkbox"><input type="checkbox"></th>
                                    <td class="cart-product-thumbnail">
                                        <a href="#">
                                            <img src="images/misa/shop/380/shop1.jpg" alt="Bolt Sweatshirt">
                                        </a>
                                        <div class="cart-product-thumbnail-name">
                                            <p class="ps5"></p>
                                        </div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p class="ps20">꼬부기 U언커먼</p>
                                    </td>
                                    <td class="cart-product-description">
                                        <p class="ps20">1</p>
                                    </td>
                                    <td class="cart-product-price ps9">
                                        <span class="amount">&#8361;20,000</span>
                                    </td>
                                    <td class="cart-product-price ps9">
                                        <span class="amount">&#8361;20,000</span>
                                    </td>
                                </tr>
                                <tr class="ps10 text-center">
                                    <th class="cart-product-checkbox"><input type="checkbox"></th>
                                    <td class="cart-product-thumbnail">
                                        <a href="#">
                                            <img alt="Consume Tshirt" src="images/misa/shop/380/shop2.jpg">
                                        </a>
                                        <div class="cart-product-thumbnail-name"></div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p class="ps20">이상해씨</p>
                                    </td>
                                    <td class="cart-product-description">
                                        <p class="ps20">1</p>
                                    </td>
                                    <td class="cart-product-price ps9">
                                        <span class="amount">&#8361;18,990</span>
                                    </td>
                                    <td class="cart-product-price ps9">
                                        <span class="amount">&#8361;18,990</span>
                                    </td>
                                </tr>
                                <tr class="ps10 text-center">
                                    <th class="cart-product-checkbox"><input type="checkbox"></th>
                                    <td class="cart-product-thumbnail">
                                        <a href="#">
                                            <img src="images/misa/shop/380/shop3.jpg" alt="Logo Tshirt">
                                        </a>
                                        <div class="cart-product-thumbnail-name"></div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p class="ps20">이상이상해씨</p>
                                    </td>
                                    <td class="cart-product-description">
                                        <p class="ps20">1</p>
                                    </td>
                                    <td class="cart-product-price ps9">
                                        <span class="amount">&#8361;243,000</span>
                                    </td>
                                    <td class="cart-product-price ps9">
                                        <span class="amount">&#8361;243,000</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
       <!-- end: SHOP CART -->
        <!-- DELIVERY INFO -->
        <!-- end: DELIVERY INFO -->
        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template.
                        All Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener">
                            INSPIRO</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>