<!DOCTYPE html>
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

        body {
            font-family: 'Dongle', sans-serif;

        }
    </style>

     
</head>
      <!-- Body Inner -->
      <div class="body-inner">
        <!-- Header -->
        <header id="header" class="header-always-fixed">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/html/pprj/Template/00_main%20copy.html">
                            <span class="logo-default">로고</span>
                            <span class="logo-dark">로고</span>
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!-- Search -->
                    <!-- end: search -->
                    <!--Header Extras-->
                   <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                         <!--Navigation-->
                         <div id="mainMenu">
                            <div class="container">
                                <nav>
                                    <ul>
                                        <li class="dropdown">
                                            <a href="/html/pprj/Template/00_main%20copy.html">
                                                <p class="pw">Home</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/html/pprj/Template/11_shop-single-product%20copy.html">
                                                <p class="pw">오늘의 경매</p>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <p class="pw">트레이딩카드</p>
                                            <ul class="dropdown-menu">
                                                <h5>
                                                    <li>
                                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">포켓몬 카드</a>
                                                    </li>
                                                    <li>
                                                        <a href="/html/pprj/Template/08_shop-columns-6 copy.html">유희왕 카드</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">드래곤볼 카드</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">원피스 카드</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">기타 카드</a>
                                                    </li>
                                                </h5>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="/html/pprj/Template/08_shop-columns-6 copy.html">
                                                <p class="pw">리멘트</p>
                                            </a>
                                            <ul>
                                                <h5>
    
                                                </h5>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <p class="pw">피규어</p>
                                        </li>
                                        <li class="dropdown">
                                            <p class="pw">커뮤니티</p>
                                            <ul class="dropdown-menu">
                                                <h5>
                                                    <li>
                                                        <a href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">카드 정보</a>
                                                    </li>
                                                    <li>
                                                        <a href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">이벤트 정보</a>
                                                    </li>
                                                    <li><a href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">자유게시판</a>
                                                    </li>
                                                    <li>
                                                        <a href="/html/pprj/Template/12.component-datatable-advanced-search%20copy.html">질문게시판</a>
                                                    </li>
                                                </h5>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <p class="pw">&nbsp;&nbsp;&nbsp;</p>
                                        </li>
                                        <!-- <li class="dropdown"> -->
                                            <a href="/html/pprj/Template/05_page-user-login-classic%20copy.html">
                                                <p class="pw2">로그인</p>
                                            </a>
                                            <p class="pw">&nbsp;</p>
                                        <!-- </li> -->
                                        <!-- <li class="dropdown"> -->
                                            <a href="/html/pprj/Template/06_page-user-register-classic%20copy.html">
                                                <p class="pw2">회원가입</p>
                                            </a>
                                        <!-- </li> -->
                              </div>
                            <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Page title -->
        <section id="page-title">
            <div class="container">
                <div class="page-title">
                    <h1 class=" pd-top2">글쓰기</h1>
                  
                </div>
                <!-- <div class="breadcrumb">
                    <ul><h5>
                        <li><a href="#">Home</a> </li>
                        <li><a href="#">장바구니</a> </li>
                        <li class="active"><a href="#">주문하기</h5></a> </li>
                    </ul>
                </div> -->
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Page Content -->
        <section id="page-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="content col-lg-9 mx-auto">
                        <h3>글쓰기</h3>
                        <form>
                            <div class="form-group col-lg-2">
                                <p class="ps16">
                                <label for="exampleFormControlSelect1">게시판 선택</label>
                                <select class="form-select" id="exampleFormControlSelect1">
                                    <option>자유게시판</option>
                                    <option>질문게시판</option>
                                    <!-- <option>친구네</option></p> -->
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="exampleFormControlInput1">작성자</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="아이디를 입력하세요">
                            </div>
                        <div id="editor" style="height: 300px;">
                                <!-- Your content here -->
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="formFile" class="form-label"></label>
                                <input class="form-control" type="file" id="formFile">
                              </div>
                              <div class="col-lg-4 mb-3">
                                <label for="formFile" class="form-label"></label>
                                <input class="form-control" type="file" id="formFile">
                              </div>
                              <div class="col-lg-4 mb-3">
                                <label for="formFile" class="form-label"></label>
                                <input class="form-control" type="file" id="formFile">
                              </div>
                              <div class="form-group col-lg-4">
                                <label for="exampleInputPassword1">비밀번호</label>
                                <div class="input-group mb-3 show-hide-password">
                                    <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                                    <span class="input-group-text"><i class="icon-eye-off" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn mt-2">Submit</button>
                                <button type="submit" class="btn mt-2">Submit</button>
                            </div>
                        </form>
                       
                       
                    </div>
                    <!-- Sidebar-->
                    
                    <!-- end: sidebar-->
                </div>
            </div>
        </section>
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">
        <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
</script>
</body>

</html>