<div class="ajax-quick-view">
	<div class="quick-view-content">
		<div class="product">
			<div class="row">
				<div class="col-lg-5">
					<div class="carousel" data-items="1">
						<img src="./images/misa/shop/shop1.jpg" alt="Shop product image!">
						<img src="./images/misa/shop/cardBack.png" alt="Shop product image!">
					</div>
				</div>
			
				<div class="col-lg-7">
					<div class="product-description">
						<div class="product-category">포켓몬카드</div>
						<div class="product-title">
							<h1><a href="#">꼬부기</a></h1>
						</div>
						<div class="product-price"><ins>&#8361;100,000</ins>
						</div>
						<!-- <div class="product-rate">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-o"></i>
						</div> -->
						<div class="product-reviews">&emsp;&emsp;&emsp;&emsp; G 014/149
						</div>
						<div class="seperator m-b-10"></div>
						<h4 style="font-weight: bold;"><img src="./images/misa/icon/icon_water.png" width="20px" height="20px"> 껍질에 숨기</style></h4>
						<h5>동전을 1번 던져서 앞면이 나오면 상대의 다음 차례에 이 포켓몬은 기술의 데미지를 받지 않는다.</h5>
						<h4>
							<img src="./images/misa/icon/icon_water.png" width="20px" height="20px">
							<img src="./images/misa/icon/icon_water.png" width="20px" height="20px"> 로켓박치기 20</h4>
						<div class="seperator"></div>
						
						<div class="product-meta">
							<h4>HP 60 </h4>
							<h4>희귀도 U 언커먼</h4>
							<p>Tags: <a rel="tag" href="#">포켓몬카드</a>, <a href="#" rel="tag">꼬부기</a>
							</p>
						</div>
						<div class="seperator m-t-20 m-b-10"></div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<!-- <h6>Select the size</h6> -->
							<!-- <ul class="product-size">
								<li>
									<label>
										<input type="radio" name="product-size" value="option1" checked="checked"><span>xs</span>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="product-size" value="option1" checked="checked"><span>s</span>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="product-size" value="option1" checked="checked"><span>m</span>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="product-size" value="option1" checked="checked"><span>l</span>
									</label>
								</li>
								<li>
									<label>
										<input type="radio" name="product-size" value="option1" checked="checked"><span>xl</span>
									</label>
								</li>
							</ul> -->
						</div>
						<!-- <div class="col-lg-6">
							<h6>Select the color</h6>
							<label class="sr-only">Color</label>
							<select class="form-select" style="padding:10px">
								<option value="">Select color…</option>
								<option value="">White</option>
								<option selected="selected" value="">Green</option>
								<option value="">Brown</option>
								<option value="">Yellow</option>
								<option value="">Pink</option>
							</select>
						</div> -->
					</div>
					<!-- <div class="m-t-10">
						<h6>Select quantity</h6>
						<div class="cart-product-quantity">
							<div class="quantity m-l-5">
								<input type="button" value="-" class="minus">
								<input type="text" value="1" class="qty">
								<input type="button" value="+" class="plus">
							</div>
						</div>
					</div> -->
					<div class="m-t-20">
						<button class="btn btn-lg" type="button"><i class="icon-shopping-cart"></i> Add to cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>